@model StudentDormitoryApp.Domain.DomainModels.Room

@{
    ViewData["Title"] = "Избриши соба";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="page-heading text-danger">Избриши соба</h3>
<p class="page-subtitle">Дали сте сигурни дека сакате да ја избришете оваа соба? Ова дејство не може да се врати.</p>

<div class="detail-card">
    <dl class="row">
        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Name)</dt>
        <dd class="col-sm-8">@Html.DisplayFor(model => model.Name)</dd>

        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.BuildingSection)</dt>
        <dd class="col-sm-8">@Html.DisplayFor(model => model.BuildingSection)</dd>

        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.IsDuplex)</dt>
        <dd class="col-sm-8">@Html.DisplayFor(model => model.IsDuplex)</dd>

        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.HasPrivateBathroom)</dt>
        <dd class="col-sm-8">@Html.DisplayFor(model => model.HasPrivateBathroom)</dd>

        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.HasKitchen)</dt>
        <dd class="col-sm-8">@Html.DisplayFor(model => model.HasKitchen)</dd>

        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.BedCount)</dt>
        <dd class="col-sm-8">@Html.DisplayFor(model => model.BedCount)</dd>

        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Orientation)</dt>
        <dd class="col-sm-8">@Html.DisplayFor(model => model.Orientation)</dd>

        <dt class="col-sm-4">Студентски дом</dt>
        <dd class="col-sm-8">@Model.StudentDormitory?.Name</dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <div class="action-row">
            <input type="submit" value="Избриши" class="btn btn-danger" />
            <a asp-action="Index" asp-route-id="@Model.StudentDormitoryId" class="back-link">← Назад кон листата на соби</a>
        </div>
    </form>
</div>
