@model StudentDormitoryApp.Domain.DomainModels.StudentDormitory

@{
    ViewData["Title"] = "Избриши студентски дом";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="page-heading text-danger">Избриши студентски дом</h3>
<p class="page-subtitle">Дали сте сигурни дека сакате да го избришете овој студентски дом? Ова дејство не може да се врати.</p>

<div class="detail-card">
    <dl class="row">
        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Name)</dt>
        <dd class="col-sm-8">@Html.DisplayFor(model => model.Name)</dd>

        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.Address)</dt>
        <dd class="col-sm-8">@Html.DisplayFor(model => model.Address)</dd>

        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.RoomCount)</dt>
        <dd class="col-sm-8">@Html.DisplayFor(model => model.RoomCount)</dd>

        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.BedCount)</dt>
        <dd class="col-sm-8">@Html.DisplayFor(model => model.BedCount)</dd>

        <dt class="col-sm-4">@Html.DisplayNameFor(model => model.RentPerMonth)</dt>
        <dd class="col-sm-8">@Html.DisplayFor(model => model.RentPerMonth)</dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <div class="action-row">
            <input type="submit" value="Избриши" class="btn btn-danger" />
            <a asp-action="Index" class="back-link">← Назад кон листата</a>
        </div>
    </form>
</div>
