@model StudentDormitoryApp.Domain.DomainModels.StudentDormitory

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>StudentDormitory</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Photo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Photo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RoomCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RoomCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BedCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BedCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasReadingRoom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasReadingRoom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasCafeteria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasCafeteria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RentPerMonth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RentPerMonth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstMonthRent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstMonthRent)
        </dd>
        <p>Documents</p>
        @if (Model.Documents != null && Model.Documents.Any())
        {
            <ul>
                @foreach (var doc in Model.Documents)
                {
                    <li>
                        <a href="@doc.FilePath" download="@doc.Name">
                            📄 @(doc.Name ?? System.IO.Path.GetFileName(doc.FilePath))
                        </a>
                    </li>
                }
            </ul>
        }
        else
        {
            <p>Не се потребни документи при вселување</p>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
