@model StudentDormitoryApp.Domain.DomainModels.Application

@{
    ViewData["Title"] = "Избриши апликација";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3 class="page-heading text-danger">Избриши апликација</h3>
<p class="page-subtitle">Дали сте сигурни дека сакате да ја избришете оваа апликација?</p>

<div class="detail-card">
    <dl class="row">
        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Status)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Status)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Comment)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Comment)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.ApplicationDate)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.ApplicationDate)</dd>

        <dt class="col-sm-3">@Html.DisplayNameFor(model => model.Room)</dt>
        <dd class="col-sm-9">@Html.DisplayFor(model => model.Room.Name)</dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <div class="action-row">
            <input type="submit" value="Избриши" class="btn btn-danger" />
            <a asp-action="Index" class="back-link">← Назад кон листата</a>
        </div>
    </form>
</div>
