@model StudentDormitoryApp.Domain.DomainModels.Application

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Application</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Comment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Comment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ApplicationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ApplicationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Room)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Room.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentDormitoryAppUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentDormitoryAppUserId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
    @* <a asp-action="ApproveApplication" asp-route-id="@Model?.Id" class="btn btn-success">Прифати</a> *@
    <form asp-action="ApproveApplication" method="post">
        <input type="hidden" name="id" value="@Model?.Id" />

        <div class="form-group">
            <label asp-for="Comment" class="control-label">Comment</label>
            <input asp-for="Comment" class="form-control" />
            <span asp-validation-for="Comment" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-success">Прифати</button>
    </form>
    <a asp-action="RejectApplication" asp-route-id="@Model?.Id" class="btn btn-danger">Одбиј</a>
</div>
