@model IEnumerable<StudentDormitoryApp.Domain.DomainModels.Application>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

@* <p>
    <a asp-action="Create">Create New</a>
</p> *@
<div>
    <a asp-action="ListWithStatusPending">Непрегледани апликации</a>
    <a asp-action="ListWithStatusApproved">Прегледани апликации</a>
    <br />
    <div>
        <form method="get" asp-action="GetByMONId">
        <p>Пребарај според MON идентификатор</p>
        <input name="search"/>
        <br />

          
            <div class="form-group">
                <input type="submit" value="Пребарај" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Статус</th>
            <th>Коментар</th>
            <th>Датум на апликација</th>
            <th>Соба</th>
            <th>Студент</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ApplicationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room.Name)
            </td>
          
                <td>
                    @if (item.Status == StudentDormitoryApp.Domain.DomainModels.ApplicationStatus.Pending)
                    {
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success">
                            Прегледај
                        </a>
                    }
                    else
                    {
                        <p>
                            Прегледано
                        </p>
                    }
                    
                </td>
        </tr>
}
    </tbody>
</table>
